* {
  margin: 0;
  padding: 0;
}

body {
  border-top: solid #572ee5 5px;
}

body header {
  margin: auto;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
}

body header .logo img {
  width: 3rem;
}

body header .menuppal {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 1001;
}

body header .menuppal ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header .menuppal ul li {
  list-style: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 3em;
  height: 3em;
  text-transform: none;
  font-weight: bold;
  margin-right: 3em;
}

body header .menuppal ul li .linea {
  width: 41px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
}

body header .menuppal ul li a {
  text-decoration: none;
  color: rgba(87, 46, 229, 0.9);
}

body header .menuppal ul li a:hover {
  text-decoration: none;
  color: #333;
}

body main .comenzar {
  margin: auto;
  margin-top: 1.5em;
}

body main .comenzar #start {
  color: #572ee5;
  border: solid 1.5px #572ee5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 127px;
  height: 50px;
  border-radius: 25px;
  font-weight: bold;
  outline: none;
  background: none;
}

body main .comenzar #start:hover {
  color: white;
  background-color: #572ee5;
}

body footer {
  width: 100%;
  height: 300px;
  border-bottom: solid 5px #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body footer .redes {
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .redes .contain_icon_face {
  width: 20px;
  margin-left: 15px;
  height: 20px;
  background: url("..//assets/icon_facebook.svg") no-repeat;
}

body footer .redes .contain_icon_face:hover {
  background: url("..//assets/icon_facebook_hover.svg") no-repeat;
}

body footer .redes .contain_icon_instagram {
  width: 20px;
  margin-left: 8px;
  height: 20px;
  background: url("..//assets/icon_instagram.svg") no-repeat;
}

body footer .redes .contain_icon_instagram:hover {
  background: url("..//assets/icon_instagram-hover.svg") no-repeat;
}

body footer .redes .contain_icon_twitter {
  width: 20px;
  margin-left: 15px;
  height: 20px;
  background: url("..//assets/icon-twitter.svg") no-repeat;
}

body footer .redes .contain_icon_twitter:hover {
  background: url("..//assets/icon-twitter-hover.svg") no-repeat;
}

body footer .pie_footer {
  padding-right: 150px;
}

.input:focus {
  border: none;
}

.input:active {
  border: none;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 688px;
  height: 390px;
  border: 1.5px #572ee5 solid;
}

#container #video {
  width: 480px;
  height: 320px;
  background-color: white;
  margin: auto;
  display: block;
  position: relative;
  z-index: 1;
}

#container .preview {
  position: relative;
}

#container .preview .overlay {
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(87, 46, 229, 0.6);
  /* Black see-through */
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container .preview .overlay .estado {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#container .preview .overlay .icon {
  position: absolute;
  top: 4px;
  right: 4px;
}

@media only screen and (min-width: 768px) {
  .busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imagenes {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 75%;
  }
  .imagenes img {
    padding: 20px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .videoasset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .videoasset .camfull #element-camara {
    width: 110px;
    margin-top: -0.4em;
  }
  main .videoasset .camfull .camrollo {
    margin-top: 7em;
  }
  main .videoasset .camfull .camrollo .element-cinta1 {
    width: 45px;
    margin-right: -0.5em;
  }
  main .videoasset .camfull .camrollo .element-cinta1-active {
    width: 45px;
    margin-right: -0.5em;
    -webkit-animation: 3s rotate linear infinite;
            animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  main .videoasset .camfull .camrollo .element-cinta2 {
    width: 63px;
  }
  main .videoasset .camfull .camrollo .element-cinta2-active {
    width: 63px;
    -webkit-animation: 3s rotate linear infinite;
            animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    animation-direction: reverse;
  }
  main .videoasset .element-luz-camara {
    width: 80px;
  }
  main .videoasset .element-luz-camara-active {
    width: 80px;
    -webkit-animation-name: parpadeo;
            animation-name: parpadeo;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes parpadeo {
    0% {
      opacity: 1.0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1.0;
    }
  }
  @keyframes parpadeo {
    0% {
      opacity: 1.0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1.0;
    }
  }
  main .videoasset #pelicula {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 4em;
    margin-bottom: -6em;
  }
  main .videoasset #container .message {
    width: 50%;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    line-height: 35px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  main .videoasset #container .message .word {
    color: #50E3C2;
  }
  main .videoasset #container .message p {
    color: black;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  main .pasos {
    width: 50%;
    margin: auto;
  }
  main .pasos .instrucciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .pasos .instrucciones .numeros {
    margin: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .pasos .instrucciones .numeros .num {
    -ms-flex-item-align: center;
        align-self: center;
    width: 30px;
    height: 30px;
    margin-right: 1em;
    margin-left: 1em;
    color: #572ee5;
    border: solid #572ee5 1.5px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .pasos .instrucciones .numeros .num p {
    margin-top: 0.4em;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  main .pasos .instrucciones .reloj {
    -ms-flex-item-align: end;
        align-self: flex-end;
    color: #572ee5;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  main .pasos .line {
    border-bottom: solid #572ee5 5px;
    width: 80%;
    margin: auto;
  }
}
/*# sourceMappingURL=styleup.css.map */